html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  margin: 1rem;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "box1 box2";
}

.logo {
  width: 14rem;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

header .pano {
  grid-column: 1/-1;
  grid-row: 1/-1;
  grid-area: header;
}

header .logo {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  width: 6.5em;
  margin-left: 1rem;
  align-self: end;
}

nav {
  grid-column: 2/-1;
  grid-row: 1;
  display: inline;
  font-family: "Patua One", sans-serif;
}

nav ul {
  display: flex;
  margin-top: 0;
  margin-right: .25rem;
}

nav li {
  list-style-type: none;
  padding: 1rem;
}

nav a {
  color: #fff;
  font-size: 2rem;
}

figcaption h2 {
  color: #30658d;
}

main {
  display: contents;
}

figure {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

figure:nth-of-type(1) {
  grid-area: box1;
}

figure:nth-of-type(2) {
  grid-area: box2;
}
