html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  margin: 1rem;
  font-family: "patua One", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}


body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "header header"
  "box1 box2";
}

.logo {
  width: 14rem;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

header .pano {
  grid-column: 1/-1;
  grid-row: 1/-1;
  grid-area: header;
}

header .logo {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  width: 6.5em;
  margin-left: 1rem;
}

nav {
  grid-column: 2/-1;
  grid-row: 1;
  display: inline;
}

li {
  list-style-type: none;
}

figcaption h2 {
  color: #30658d;
}

main figure {
  display: grid;
  display: contents;
}

main:nth-child(1) {
  display: grid;
}

main:nth-child(2) {
  display: grid;
}
